@inherits LayoutComponentBase
@inject NavigationManager NavManager

<link href="css/SharedLayout.css" rel="stylesheet"/>

<div class="layout-header">
    <button @onclick="GoBack" class="back-button" aria-label="Zurück">
        <svg class="back-icon" viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g id="SVGRepo_bgCarrier" stroke-width="0"></g>
            <g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g>
            <g id="SVGRepo_iconCarrier">
                <path d="M6 12H18M6 12L11 7M6 12L11 17" stroke="#000000" stroke-width="2" stroke-linecap="round"
                      stroke-linejoin="round"></path>
            </g>
        </svg>
    </button>
</div>

<div class="layout-body">
    @Body
</div>

@code {

    private void GoBack()
    {
        if (NavManager.Uri != NavManager.BaseUri)
        {
            NavManager.NavigateTo("javascript:history.back()");
        }
    }

}
