:root {
    --primary: rgb(0 105 113);
    --surface-tint: rgb(0 105 113);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(157 240 250);
    --on-primary-container: rgb(0 79 86);
    --secondary: rgb(0 105 114);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(157 240 251);
    --on-secondary-container: rgb(0 79 86);
    --tertiary: rgb(67 94 145);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(216 226 255);
    --on-tertiary-container: rgb(43 70 120);
    --error: rgb(144 74 67);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(115 51 45);
    --background: rgb(245 250 251);
    --on-background: rgb(23 29 29);
    --surface: rgb(244 250 251);
    --on-surface: rgb(22 29 29);
    --surface-variant: rgb(219 228 230);
    --on-surface-variant: rgb(63 72 74);
    --outline: rgb(111 121 122);
    --outline-variant: rgb(190 200 202);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(43 50 50);
    --inverse-on-surface: rgb(236 242 242);
    --inverse-primary: rgb(129 211 221);
    --primary-fixed: rgb(157 240 250);
    --on-primary-fixed: rgb(0 31 35);
    --primary-fixed-dim: rgb(129 211 221);
    --on-primary-fixed-variant: rgb(0 79 86);
    --secondary-fixed: rgb(157 240 251);
    --on-secondary-fixed: rgb(0 31 35);
    --secondary-fixed-dim: rgb(129 211 222);
    --on-secondary-fixed-variant: rgb(0 79 86);
    --tertiary-fixed: rgb(216 226 255);
    --on-tertiary-fixed: rgb(0 26 65);
    --tertiary-fixed-dim: rgb(173 198 255);
    --on-tertiary-fixed-variant: rgb(43 70 120);
    --surface-dim: rgb(213 219 219);
    --surface-bright: rgb(244 250 251);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(239 245 245);
    --surface-container: rgb(233 239 239);
    --surface-container-high: rgb(227 233 234);
    --surface-container-highest: rgb(221 228 228);
    --perso-color: rgb(105 84 141);
    --perso-on-color: rgb(255 255 255);
    --perso-color-container: rgb(235 220 255);
    --perso-on-color-container: rgb(80 60 116);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;
    background-color: var(--primary-container);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    & a {
        text-decoration: none;
    }
}