:root {
    --primary: rgb(29 107 80);
    --surface-tint: rgb(29 107 80);
    --on-primary: rgb(255 255 255);
    --primary-container: rgb(167 242 208);
    --on-primary-container: rgb(0 81 58);
    --secondary: rgb(29 107 80);
    --on-secondary: rgb(255 255 255);
    --secondary-container: rgb(167 242 208);
    --on-secondary-container: rgb(0 81 58);
    --tertiary: rgb(19 102 130);
    --on-tertiary: rgb(255 255 255);
    --tertiary-container: rgb(190 233 255);
    --on-tertiary-container: rgb(0 77 101);
    --error: rgb(144 74 67);
    --on-error: rgb(255 255 255);
    --error-container: rgb(255 218 214);
    --on-error-container: rgb(115 51 45);
    --background: rgb(245 251 245);
    --on-background: rgb(23 29 26);
    --surface: rgb(245 251 244);
    --on-surface: rgb(23 29 25);
    --surface-variant: rgb(219 229 221);
    --on-surface-variant: rgb(64 73 67);
    --outline: rgb(112 121 115);
    --outline-variant: rgb(191 201 194);
    --shadow: rgb(0 0 0);
    --scrim: rgb(0 0 0);
    --inverse-surface: rgb(44 50 46);
    --inverse-on-surface: rgb(237 242 236);
    --inverse-primary: rgb(140 213 180);
    --primary-fixed: rgb(167 242 208);
    --on-primary-fixed: rgb(0 33 21);
    --primary-fixed-dim: rgb(140 213 180);
    --on-primary-fixed-variant: rgb(0 81 58);
    --secondary-fixed: rgb(167 242 208);
    --on-secondary-fixed: rgb(0 33 21);
    --secondary-fixed-dim: rgb(140 213 181);
    --on-secondary-fixed-variant: rgb(0 81 58);
    --tertiary-fixed: rgb(190 233 255);
    --on-tertiary-fixed: rgb(0 31 42);
    --tertiary-fixed-dim: rgb(140 207 240);
    --on-tertiary-fixed-variant: rgb(0 77 101);
    --surface-dim: rgb(214 219 213);
    --surface-bright: rgb(245 251 244);
    --surface-container-lowest: rgb(255 255 255);
    --surface-container-low: rgb(240 245 239);
    --surface-container: rgb(234 239 233);
    --surface-container-high: rgb(228 234 227);
    --surface-container-highest: rgb(222 228 222);
    --perso-color: rgb(105 84 141);
    --perso-on-color: rgb(255 255 255);
    --perso-color-container: rgb(235 220 255);
    --perso-on-color-container: rgb(80 60 116);
}

html, body {
    font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
    user-select: none;
    background-color: var(--primary-container);
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    & a {
        text-decoration: none;
    }
}